regtests/0381_rec_fields/recfields.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetCasService"
                  targetNamespace="http://simple.doc.net/sd"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema>
      <xsd:complexType name="ExampleType">
        <xsd:all>
          <xsd:element name="type" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="new" type="xsd:int"/>
          <xsd:element name="record" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
    </schema>
  </types>

  <message name="myMethodRequest">
    <part name="ex" element="ExampleType"/>
  </message>

  <message name="empty"/>

  <portType name="PT">
    <operation name="call">
      <input message="myMethodRequest"/>
      <output message="empty"/>
    </operation>
  </portType>

<binding name="RecFieldsBinding" type="RecFields">
  <soap:binding style="document"
                transport="http://schemas.xmlsoap.org/soap/http" />

  <operation name="call">
    <soap:operation soapAction="http://me.here.net/call" />
    <wsdl:input>
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal" />
    </wsdl:output>
  </operation>
</binding>

<wsdl:service name="RecFieldsService">
  <port name="RecFieldsPort" binding="RecFieldsBinding">
    <soap:address location="http://localhost:1234" />
  </port>
</wsdl:service>

</wsdl:definitions>
