regtests/0383_simple_content_attribute/attsimcont.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AttSimCont"
                  targetNamespace="http://simple.doc.net/sd"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema>
      <xsd:element name="ExampleType" type="ExampleType"/>

      <xsd:complexType name="ExampleType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:int">
            <xsd:attribute name="unit" type="xsd:string" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </schema>
  </types>

  <message name="myMethodRequest">
    <part name="ex" element="ExampleType"/>
  </message>

  <message name="empty"/>

  <portType name="PT">
    <operation name="call">
      <input message="myMethodRequest"/>
      <output message="empty"/>
    </operation>
  </portType>

<binding name="AttSimContBinding" type="AttSimCont">
  <soap:binding style="document"
                transport="http://schemas.xmlsoap.org/soap/http" />

  <operation name="call">
    <soap:operation soapAction="http://me.here.net/call" />
    <wsdl:input>
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal" />
    </wsdl:output>
  </operation>
</binding>

<wsdl:service name="AttSimContService">
  <port name="AttSimContPort" binding="AttSimContBinding">
    <soap:address location="http://localhost:9840" />
  </port>
</wsdl:service>

</wsdl:definitions>
