regtests/0263_wsdl_choice/wsdl_choice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSDL_Choice"
             targetNamespace="urn:aws:WSDL_Choice"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="urn:aws:WSDL_Choice">

   <types>
      <schema>
        <xs:complexType name="Status">
          <xs:choice>
            <xs:element name="state" type="State" />
            <xs:element name="percentComplete" type="xs:float" />
            <xs:element name="statusMessage" type="xs:string" />
          </xs:choice>
        </xs:complexType>

        <xs:simpleType name="State">
          <xs:restriction base="xs:string">
            <xs:enumeration value="QUEUED" />
            <xs:enumeration value="RUNNING" />
            <xs:enumeration value="CANCELLED" />
            <xs:enumeration value="COMPLETED" />
          </xs:restriction>
        </xs:simpleType>
      </schema>
   </types>

   <message name="Try_Request">
      <part name="Param1" type="Status"/>
      <part name="Param2" type="xs:int"/>
   </message>

   <portType name="WSDL_Choice_portType">

      <operation name="Try">
         <input message="Try_Request"/>
      </operation>

   </portType>

   <binding name="WSDL_Choice_Binding" type="WSDL_Choice_PortType">
      <soap:binding style="rpc"
         transport="http://schemas.xmlsoap.org/soap/http"/>

      <operation name="Try">
         <soap:operation soapAction="Try"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:aws:WSDL_Choice"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:aws:WSDL_Choice"
               use="encoded"/>
         </output>
      </operation>

   </binding>

   <service name="WSDL_CHOICE">
      <port name="WSDL_Choice_Port" binding="WSDL_Choice_Binding">
         <soap:address location="http://localhost:7704"/>
      </port>
   </service>
</definitions>
