regtests/0272_simpledoc/simpledoc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetCasService"
                  targetNamespace="http://simple.doc.net/sd"
                  xmlns:tns="http://simple.doc.net/sd"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="myMethod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:int"/>
            <xsd:element name="y" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="myMethodResponse">
        <xsd:complexType/>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="myMethodRequest">
    <wsdl:part name="parameters" element="myMethod"/>
  </wsdl:message>

  <wsdl:message name="empty">
    <wsdl:part name="parameters" element="myMethodResponse"/>
  </wsdl:message>

  <wsdl:portType name="SimpleDocPortType">
    <wsdl:operation name="call">
      <wsdl:input message="tns:myMethodRequest"/>
      <wsdl:output message="tns:empty"/>
    </wsdl:operation>
  </wsdl:portType>

<wsdl:binding name="SimpleDocBinding" type="tns:SimpleDocPortType">
  <soap:binding style="document"
                transport="http://schemas.xmlsoap.org/soap/http" />

  <wsdl:operation name="call">
    <soap:operation soapAction="call" />
    <wsdl:input>
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal" />
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>

<wsdl:service name="SimpleDocService">
  <wsdl:port name="SimpleDocPort" binding="tns:SimpleDocBinding">
    <soap:address location="http://localhost:1234" />
  </wsdl:port>
</wsdl:service>

</wsdl:definitions>
