regtests/0369_wsdl_include/FIXM-3.0/core/flight/aircraft/AircraftDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.fixm.aero/flight/3.0"
   version="3.00"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/3.0"
   xmlns:fx="http://www.fixm.aero/flight/3.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2014 Airservices Australia, EUROCONTROL, JCAB, NATS Limited, NavCanada, 
         SESAR Joint Undertaking &amp; US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted 
         provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and 
         the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions 
         and the disclaimer in the documentation and/or other materials provided with the 
         distribution. 
         * Neither the names of Airservices Australia, EUROCONTROL, JCAB, NATS Limited, NavCanada, 
         
         SESAR Joint Undertaking &amp; US FAA nor the names of their contributors may be used 
         to endorse or 
         promote products derived from this specification without specific prior written permission. 
         
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE 
         DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR 
         ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
         (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS 
         
         OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY 
         THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING 
         NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN 
         
         IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
          
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open 
         Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS Limited: http://www.nats.co.uk/ 
         Details on NavCanada: http://www.navcanada.ca/ 
         Details on the SESAR JU and its members: http://www.sesarju.eu/players/members 
         Details on the US FAA: http://www.faa.gov/ 
         Details on the US FAAs NextGen program: http://www.faa.gov/NextGen 
      </documentation>
   </annotation>
   <include schemaLocation="./CommunicationCapability.xsd"/>
   <include schemaLocation="./NavigationCapability.xsd"/>
   <include schemaLocation="./SurveillanceCapability.xsd"/>
   <include schemaLocation="./SurvivalCapability.xsd"/>
   <import namespace="http://www.fixm.aero/base/3.0" schemaLocation="./../../base/Base.xsd"/>
   <annotation>
      <documentation>
         This package contains information about the aircraft type. 
      </documentation>
   </annotation>

   <complexType name="AircraftType">
      <annotation>
         <documentation>
            This is a main aircraft class that contains all the information about the aircraft. 
            
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:FeatureType">
            <sequence>
               <element name="aircraftType" type="fx:AircraftTypeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Aircraft Type: The manufacturer and model of the airframe expressed either as an 
                        ICAO-approved designator or a text description. 
                     </documentation>
                  </annotation>
               </element>
               <element name="capabilities" type="fx:AircraftCapabilitiesType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Aircraft contains several types of capabilities. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="aircraftAddress" type="fx:AircraftAddressType" use="optional" > 
               <annotation>
                  <documentation>
                     .Aircraft Address: A code that enables the exchange of text-based messages between 
                     suitably equipped Air Traffic Service (ATS) ground systems and aircraft cockpit displays. 
                     
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="aircraftColours" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .Aircraft Colour and Markings: The colours of the aircraft and a description of the 
                     aircraft's significant markings. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="aircraftPerformance" type="fx:AircraftPerformanceCategoryType" use="optional" > 
               <annotation>
                  <documentation>
                     .Aircraft Performance Category: A coded category assigned to the aircraft based on 
                     a speed directly proportional to its stall speed, which functions as a standardized 
                     basis for relating aircraft manoeuvrability to specific instrument approach procedures. 
                     
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="aircraftQuantity" type="fb:CountType" use="optional" > 
               <annotation>
                  <documentation>
                     .Aircraft Quantity: Number of aircraft flying in a formation in which the aircraft 
                     are governed by one flight plan. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="engineType" type="fx:EngineTypeType" use="optional" > 
               <annotation>
                  <documentation>
                     .Engine Type: The category of the aircraft  engine. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="registration" type="fx:AircraftRegistrationType" use="optional" > 
               <annotation>
                  <documentation>
                     .Aircraft Registration Mark: A unique, alphanumeric string that identifies a civil 
                     aircraft and consists of the Aircraft Nationality or Common Mark and an additional 
                     alphanumeric string assigned by the state of registry or common mark registering 
                     authority. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="wakeTurbulence" type="fx:WakeTurbulenceCategoryType" use="optional" > 
               <annotation>
                  <documentation>
                     .Wake Turbulence Category: ICAO classification of the aircraft wake turbulence, based 
                     on the maximum certified take off mass. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="Aircraft" type="fx:AircraftType" substitutionGroup="fb:Feature" /> 

   <simpleType name="AircraftAddressType">
      <annotation>
         <documentation>
            .Aircraft Address: A code that enables the exchange of text-based messages between 
            suitably equipped Air Traffic Service (ATS) ground systems and aircraft cockpit displays. 
            
         </documentation>
      </annotation>
      <restriction base="fb:FreeTextType">
         <pattern value="[0-9A-F]{6}"/>
      </restriction>
   </simpleType>

   <complexType name="AircraftCapabilitiesType">
      <annotation>
         <documentation>
            Groups all the aircraft's capabilities. 
         </documentation>
      </annotation>
      <sequence>
         <element name="communication" type="fx:CommunicationCapabilitiesType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Communications Capabilities: The serviceable communications equipment, available 
                  on the aircraft at the time of flight, and associated flight crew qualifications 
                  that may be used to communicate with ATS units. 
               </documentation>
            </annotation>
         </element>
         <element name="navigation" type="fx:NavigationCapabilitiesType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Navigation Capabilities: The serviceable navigation equipment available on board 
                  the aircraft at the time of flight and for which the flight crew is qualified. 
               </documentation>
            </annotation>
         </element>
         <element name="surveillance" type="fx:SurveillanceCapabilitiesType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Surveillance Capabilities: The serviceable Secondary Surveillance Radar (SSR) and/or 
                  Automatic Dependent Surveillance (ADS) equipment available on the aircraft at the 
                  time of flight that may be used to identify and/or locate the aircraft. 
               </documentation>
            </annotation>
         </element>
         <element name="survival" type="fx:SurvivalCapabilitiesType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Aircraft is equipped with survival capabilities. 
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="standardCapabilities" type="fx:StandardCapabilitiesIndicatorType" use="optional" > 
         <annotation>
            <documentation>
               if present, indicates that aircraft has the "standard" capabilities for the flight. 
               
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="AircraftCapabilities" type="fx:AircraftCapabilitiesType" /> 

   <simpleType name="AircraftPerformanceCategoryType">
      <annotation>
         <documentation>
            .Aircraft Performance Category: A coded category assigned to the aircraft based on 
            a speed directly proportional to its stall speed, which functions as a standardized 
            basis for relating aircraft manoeuvrability to specific instrument approach procedures. 
            
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="A"/>
         <enumeration value="B"/>
         <enumeration value="C"/>
         <enumeration value="D"/>
         <enumeration value="E"/>
         <enumeration value="H"/>
      </restriction>
   </simpleType>

   <simpleType name="AircraftRegistrationType">
      <annotation>
         <documentation>
            .Aircraft Registration Mark: A unique, alphanumeric string that identifies a civil 
            aircraft and consists of the Aircraft Nationality or Common Mark and an additional 
            alphanumeric string assigned by the state of registry or common mark registering 
            authority. 
         </documentation>
      </annotation>
      <restriction base="fb:FreeTextType">
         <pattern value="[A-Z0-9]{1,7}"/>
      </restriction>
   </simpleType>

   <complexType name="AircraftTypeType">
      <annotation>
         <documentation>
            .Aircraft Type: The manufacturer and model of the airframe expressed either as an 
            ICAO-approved designator or a text description. 
         </documentation>
      </annotation>
      <choice>
         <element name="icaoModelIdentifier" type="fb:IcaoAircraftIdentifierType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  The ICAO code of the aircraft type 
               </documentation>
            </annotation>
         </element>
         <element name="otherModelData" type="fb:FreeTextType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Other, non-ICAO identification of the aircraft type. 
               </documentation>
            </annotation>
         </element>
      </choice>
   </complexType>
   <element name="AircraftType" type="fx:AircraftTypeType" /> 

   <simpleType name="EngineTypeType">
      <annotation>
         <documentation>
            .Engine Type: The category of the aircraft  engine. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="PISTON"/>
         <enumeration value="TURBO_PROP"/>
         <enumeration value="TURBO_SHAFT"/>
         <enumeration value="TURBO_JET"/>
         <enumeration value="TURBO_FAN"/>
         <enumeration value="PROP_FAN"/>
      </restriction>
   </simpleType>

   <simpleType name="StandardCapabilitiesIndicatorType">
      <annotation>
         <documentation>
            .Standard Capabilities Indicator: This element indicates the aircraft carries the 
            set of capabilities considered   standard   by the appropriate authority. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="STANDARD"/>
      </restriction>
   </simpleType>

   <simpleType name="WakeTurbulenceCategoryType">
      <annotation>
         <documentation>
            .Wake Turbulence Category: ICAO classification of the aircraft wake turbulence, based 
            on the maximum certified take off mass. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="L"/>
         <enumeration value="M"/>
         <enumeration value="H"/>
         <enumeration value="J"/>
      </restriction>
   </simpleType>
</schema>
