regtests/0325_float_nan/wsdl_nan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WSDL_NaN"
   targetNamespace="http://soapaws/WSDL_NaN_def/"
   xmlns:tns="http://soapaws/WSDL_NaN_def/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:n1="http://soapaws/Standard_pkg/">

   <!-- Generated by AWS/Ada2WSDL v2.0
        on Wednesday 18 March 2020 at 18:33:05 -->

   <wsdl:message name="Echo_F_Request">
      <wsdl:part name="V" type="xsd:float"/>
   </wsdl:message>

   <wsdl:message name="Echo_F_Response">
      <wsdl:part name="Echo_F_Result" type="xsd:float"/>
   </wsdl:message>

   <wsdl:message name="Echo_D_Request">
      <wsdl:part name="V" type="xsd:double"/>
   </wsdl:message>

   <wsdl:message name="Echo_D_Response">
      <wsdl:part name="Echo_D_Result" type="xsd:double"/>
   </wsdl:message>

   <wsdl:portType name="WSDL_NaN_PortType">
      <wsdl:operation name="Echo_F">
         <wsdl:input message="tns:Echo_F_Request"/>
         <wsdl:output message="tns:Echo_F_Response"/>
      </wsdl:operation>

      <wsdl:operation name="Echo_D">
         <wsdl:input message="tns:Echo_D_Request"/>
         <wsdl:output message="tns:Echo_D_Response"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="WSDL_NaN_Binding" type="tns:WSDL_NaN_PortType">
      <soap:binding style="rpc"
         transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Echo_F">
         <soap:operation soapAction="Echo_F"/>
         <wsdl:input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://soapaws/WSDL_NaN_def/"
               use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://soapaws/WSDL_NaN_def/"
               use="encoded"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="Echo_D">
         <soap:operation soapAction="Echo_D"/>
         <wsdl:input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://soapaws/WSDL_NaN_def/"
               use="encoded"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="http://soapaws/WSDL_NaN_def/"
               use="encoded"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="WSDL_NaN_Service">
      <wsdl:port name="WSDL_NaN_Port" binding="tns:WSDL_NaN_Binding">
         <soap:address location="http://localhost:7871"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
