regtests/0369_wsdl_include/FIXM-3.0/core/flight/flight/Emergency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.fixm.aero/flight/3.0"
   version="3.00"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/3.0"
   xmlns:ff="http://www.fixm.aero/foundation/3.0"
   xmlns:fx="http://www.fixm.aero/flight/3.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2014 Airservices Australia, EUROCONTROL, JCAB, NATS Limited, NavCanada, 
         SESAR Joint Undertaking &amp; US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted 
         provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and 
         the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions 
         and the disclaimer in the documentation and/or other materials provided with the 
         distribution. 
         * Neither the names of Airservices Australia, EUROCONTROL, JCAB, NATS Limited, NavCanada, 
         
         SESAR Joint Undertaking &amp; US FAA nor the names of their contributors may be used 
         to endorse or 
         promote products derived from this specification without specific prior written permission. 
         
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE 
         DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR 
         ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
         (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS 
         
         OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY 
         THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING 
         NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN 
         
         IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
          
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open 
         Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS Limited: http://www.nats.co.uk/ 
         Details on NavCanada: http://www.navcanada.ca/ 
         Details on the SESAR JU and its members: http://www.sesarju.eu/players/members 
         Details on the US FAA: http://www.faa.gov/ 
         Details on the US FAAs NextGen program: http://www.faa.gov/NextGen 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/3.0" schemaLocation="./../../base/Base.xsd"/>
   <import namespace="http://www.fixm.aero/foundation/3.0" schemaLocation="./../../foundation/Foundation.xsd"/>
   <annotation>
      <documentation>
         The Emergency Package describes any emergency filed during the flight. 
      </documentation>
   </annotation>

   <simpleType name="EmergencyPhaseType">
      <annotation>
         <documentation>
            .Emergency Phase: Stage of emergency the flight is currently under or an indication 
            the emergency has been cancelled, as designated by an ATS unit. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="INCERFA"/>
         <enumeration value="ALERFA"/>
         <enumeration value="DETRESFA"/>
         <enumeration value="CANCELLED"/>
      </restriction>
   </simpleType>

   <complexType name="FlightEmergencyType">
      <annotation>
         <documentation>
            Groups emergency information (description, phase, position, etc) for the flight. 
            
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:FeatureType">
            <sequence>
               <element name="contact" type="fx:LastContactType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Last Contact Unit: The last ATS unit which had two-way contact with the aircraft. 
                        
                     </documentation>
                  </annotation>
               </element>
               <element name="originator" type="fb:IdentifiedUnitReferenceType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Emergency Message Originator: The ICAO identifier of the ATS unit originating the 
                        emergency message. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="actionTaken" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .Action Taken By Reporting Unit: A description of the actions taken by the reporting 
                     Air Traffic Service (ATS) unit, in the event of search and rescue. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="emergencyDescription" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .Emergency Description: A short, plain-language description of the nature of the 
                     emergency. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="otherInformation" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .Other Search and Rescue Information: Other pertinent information not captured elsewhere 
                     needed to notify appropriate organizations regarding aircraft in need of search and 
                     rescue. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="phase" type="fx:EmergencyPhaseType" use="optional" > 
               <annotation>
                  <documentation>
                     .Emergency Phase: Stage of emergency the flight is currently under or an indication 
                     the emergency has been cancelled, as designated by an ATS unit. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="FlightEmergency" type="fx:FlightEmergencyType" substitutionGroup="fb:Feature" /> 

   <complexType name="LastContactType">
      <annotation>
         <documentation>
            .Last Contact Unit: The last ATS unit which had two-way contact with the aircraft. 
            
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:FeatureType">
            <sequence>
               <element name="contactFrequency" type="fb:RadioFrequencyType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Last Contact Radio Frequency: The transmitting/receiving frequency of the last two-way 
                        contact between the aircraft and an ATS unit. 
                     </documentation>
                  </annotation>
               </element>
               <element name="position" type="fx:LastPositionReportType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Last Known Position Report: The position of the aircraft last known to ATS and a 
                        corresponding timestamp. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="lastContactTime" type="ff:TimeType" use="optional" > 
               <annotation>
                  <documentation>
                     .Last Contact Time: The time of the last two-way contact between the aircraft and 
                     an ATS unit. The time is given in UTC. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="lastContactUnit" type="ff:AtcUnitNameType" use="optional" > 
               <annotation>
                  <documentation>
                     .Last Contact Unit: The last ATS unit which had two-way contact with the aircraft. 
                     
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="LastContact" type="fx:LastContactType" substitutionGroup="fb:Feature" /> 

   <complexType name="LastPositionReportType">
      <annotation>
         <documentation>
            .Last Known Position Report: The position of the aircraft last known to ATS and a 
            corresponding timestamp. 
         </documentation>
      </annotation>
      <sequence>
         <element name="position" type="fb:SignificantPointType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  The position of the aircraft last known to ATS. 
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="determinationMethod" type="fb:FreeTextType" use="optional" > 
         <annotation>
            <documentation>
               .Last Known Position Report - Determination Method: A plain-language description 
               of the method used to determine the last known position of an aircraft. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="timeAtPosition" type="ff:TimeType" use="optional" > 
         <annotation>
            <documentation>
               Timestamp corresponding to the last known position. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="LastPositionReport" type="fx:LastPositionReportType" /> 

   <complexType name="RadioCommunicationFailureType">
      <annotation>
         <documentation>
            Groups information regarding loss of radio communication capabilities. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:FeatureType">
            <sequence>
               <element name="contact" type="fx:LastContactType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Last Contact Unit: The last ATS unit which had two-way contact with the aircraft. 
                        
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="radioFailureRemarks" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .Radio Failure Remarks: Pertinent information needed to notify appropriate organizations 
                     regarding loss of radio communication capabilities. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="remainingComCapability" type="fb:FreeTextType" use="optional" > 
               <annotation>
                  <documentation>
                     .Remaining Communication Capabilities: The remaining communication capability of 
                     the aircraft following radio failure. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="RadioCommunicationFailure" type="fx:RadioCommunicationFailureType" substitutionGroup="fb:Feature" /> 
</schema>
