regtests/0268_doc_binding/doc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HelloDOC"
   targetNamespace="http://www.ecerami.com/wsdl/HelloService.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:tns="http://www.ecerami.com/wsdl/HelloService.wsdl"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:ns1="urn:examples:helloservice">

  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="urn:examples:helloservice">
      <xsd:element name="firstName" type="xsd:string"/>
      <xsd:element name="greeting" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>

   <message name="SayHelloRequest">
      <part name="firstName" element="ns1:firstName"/>
   </message>
   <message name="SayHelloResponse">
      <part name="greeting" element="ns1:greeting"/>
   </message>

   <portType name="Hello_PortType">
      <operation name="sayHello">
         <input message="tns:SayHelloRequest"/>
         <output message="tns:SayHelloResponse"/>
      </operation>
   </portType>

   <binding name="Hello_Binding" type="tns:Hello_PortType">
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="sayHello">
         <soap:operation soapAction="sayHello"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:helloservice"
               use="literal"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:examples:helloservice"
               use="literal"/>
         </output>
      </operation>
   </binding>

   <service name="DOC">
      <documentation>WSDL File for Hello AWS Demo (Document)</documentation>
      <port binding="tns:Hello_Binding" name="Hello_Port">
         <soap:address
            location="http://localhost:9111/hello"/>
      </port>
   </service>
</definitions>
